<div flex layout="column" class="main">
    <div class="pokes-header" layout="column">
        <h1> Suggested Pokes </h1>
        <div layout="row">
            <md-input-container>
                <input placeholder="Search Term" type="text" ng-model="searchTerm">
            </md-input-container>
            <md-button ng-click="search()">Search</md-button>
        </div>
    </div>
    <md-list flex>
        <md-list-item class="poke-animate" ng-repeat="user in suggestedPokes | orderBy: '-date' track by user._id" flex>
            <md-card layout-padding class="suggestions-user-card" layout="row">
                <md-card-header-text layout="row" class="poke-title">
                    <img class="user-card-image" height="50" width="50" ng-src="http://lorempixel.com/75/75/sports/{{user.randomImage}}"/>
                </md-card-header-text>
                <md-card-content layout="row" flex class="poke-content">
                    <div layout="column" class="poke-field">
                        <span class="md-subhead">Username</span>
                        <span class="md-subhead"><b>{{user.username}}</b></span>
                    </div>
                    <md-card-content-text layout="column" class="poke-field">
                        <span class="md-subhead">Number Of Pokes</span>
                        <span class="md-subhead">{{user.numberOfPokes}}</span>
                    </md-card-content-text>
                    <md-card-content-text layout="column"  class="poke-field">
                        <span class="md-subhead">Average Reaction Time</span>
                        <span class="md-subhead">{{user.avgReactionTime}}</span>
                    </md-card-content-text>
                    <md-button ng-click="onPoke(user)" class="md-raised md-primary">Poke</md-button>
                </md-card-content>
            </md-card>
        </md-list-item>
    </md-list>
</div>