<html ng-app="ipoke">
<head>
    <meta charset="utf-8"/>
    <title>IPoke</title>
    <base href="/login"/>
</head>
<body>
    <ui-view full-bleed></ui-view>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB35_MKt7AlQKIQDL3CcRZZrhyMRLWKDHw&libraries=places"
            async defer></script>
    <script src="http://localhost:8318/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('http://localhost:8318');
    </script>
</body>
</html>