<div flex class="main">
    <div class="pokes-header" layout="column">
        <h2> Fights Losing!</h2>
        <div layout="row">
            <md-input-container>
                <input placeholder="Search Term" type="text" ng-model="losingSearchTerm">
            </md-input-container>
            <md-button ng-click="losingSearch()">Search</md-button>
        </div>
    </div>
    <md-list flex>
        <md-list-item class="fade-animate" ng-repeat="poke in visibleLosingPokes | orderBy: '-date' track by poke._id">
            <md-card layout-padding class="poke-card" layout="row">
                <md-card-header-text layout="column" class="poke-title">
                    <img class="user-card-image" height="50" width="50" src="http://lorempixel.com/75/75/sports/{{poke.userSentData.randomImage}}"/>
                </md-card-header-text>
                <md-card-content layout="row" flex class="poke-content">
                    <md-card-content-text layout="column"  class="poke-field">
                        <span class="md-subhead">Username</span>
                        <span class="md-subhead"><b>{{poke.userSent}}</b></span>
                    </md-card-content-text>
                    <md-card-content-text layout="column"  class="poke-field">
                        <span class="md-subhead">Last Poke Time</span>
                        <span class="md-subhead">{{poke.lastPokeTime | amCalendar}}</span>
                    </md-card-content-text>
                    <md-card-content-text layout="column"  class="poke-field">
                        <span class="md-subhead">Number Of Pokes</span>
                        <span class="md-subhead">{{poke.numberOfPokes}}</span>
                    </md-card-content-text>
                    <md-button ng-click="onPoke(poke)" class="md-raised md-primary">Poke</md-button>
                </md-card-content>
            </md-card>
        </md-list-item>
    </md-list>
    <div class="pokes-header" layout="column">
        <h2>Fights Winning</h2>
        <div  layout="row">
            <md-input-container>
                <input placeholder="Search Term" type="text" ng-model="winningSearchTerm">
            </md-input-container>
            <md-button ng-click="winningSearch()">Search</md-button>
        </div>
    </div>
    <md-list flex>
        <md-list-item class="fade-animate" ng-repeat="poke in visibleWinningPokes | orderBy: '-date' track by poke._id">
            <md-card layout-padding class="poke-card" layout="row">
                <md-card-header-text layout="column" class="poke-title">
                    <img class="user-card-image" height="50" width="50" src="http://lorempixel.com/75/75/sports/{{poke.userReceivedData.randomImage}}"/>
                </md-card-header-text>
                <md-card-content layout="row" flex class="poke-content">
                    <md-card-content-text layout="column" class="poke-field">
                        <span class="md-subhead">Username</span>
                        <span class="md-subhead"><b>{{poke.userReceived}}</b></span>
                    </md-card-content-text>
                    <md-card-content-text layout="column" class="poke-field">
                        <span class="md-subhead">Last Poke Time</span>
                        <span class="md-subhead">{{poke.lastPokeTime | amCalendar}}</span>
                    </md-card-content-text>
                    <md-card-content-text layout="column" class="poke-field">
                        <span class="md-subhead">Number Of Pokes</span>
                        <span class="md-subhead">{{poke.numberOfPokes}}</span>
                    </md-card-content-text>

                    <md-card-content-text>

                    </md-card-content-text>
                </md-card-content>
            </md-card>
        </md-list-item>
    </md-list>
</div>