<div flex layout="column" class="sidenav-container">
    <md-toolbar flex="10" class="md-primary" layout-align="center center">
        <!--<span class="logo">IPoke</span>-->
        <Canvas id="logoCanvas" width="400" height="65">
        </Canvas>
    </md-toolbar>
    <div layout="row" flex>
        <nav layout="row" flex="15">
            <md-sidenav md-whiteframe="4" md-is-locked-open="true" class="md-sidenav-right" layout-padding>
                <div ng-show="isLoggedOn()" layout="row" class="user-card">
                    <span>Hello {{getUser().username}}</span>
                    <md-button ng-click="logout()">Logout</md-button>
                </div>
                <md-button ui-sref="shell.main">Fights</md-button>
                <md-button ui-sref="shell.statistics">Statistics</md-button>
                <md-button ui-sref="shell.about">About</md-button>
                <md-button ui-sref="shell.admin" ng-if="isUserAdmin()">Admin panel</md-button>
                <span flex></span>
                <footer>
                    Be the very best <br>(at annoying)
                </footer>
            </md-sidenav>
        </nav>
        <div flex layout="column" ui-view ng-init="openLogin()"></div>
    </div>
</div>

