<div layout="column" flex>
    <md-toolbar flex="10" class="md-primary" layout-align="center center">
        <!--<img src="https://image.ibb.co/j3C1c5/Logomakr_317se2.png" height="80" width="180"/>-->
        <h1>IPoke</h1>
    </md-toolbar>
    <div flex ng-init="openLogin()"></div>
    <!--<md-card class="login">-->
        <!--<md-toolbar flex class="md-primary">-->
            <!--<div class="md-toolbar-tools">-->
                <!--<h2>Login</h2>-->
                <!--<span flex></span>-->
            <!--</div>-->
        <!--</md-toolbar>-->
        <!--&lt;!&ndash;<md-dialog-content flex layout-padding>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="md-dialog-content" layout="column">&ndash;&gt;-->
                <!--&lt;!&ndash;<form>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="md-icon-float">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="mdi mdi-account"></i>&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-input-container>&ndash;&gt;-->
                            <!--&lt;!&ndash;<input placeholder="Username" type="text" ng-model="user.username">&ndash;&gt;-->
                        <!--&lt;!&ndash;</md-input-container>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="md-icon-float">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="mdi mdi-lock"></i>&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-input-container>&ndash;&gt;-->
                            <!--&lt;!&ndash;<input placeholder="Password" type="password" ng-model="user.password">&ndash;&gt;-->
                        <!--&lt;!&ndash;</md-input-container>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div ng-show="isLoginFailed">&ndash;&gt;-->
                        <!--&lt;!&ndash;Wrong Username or password.&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div ng-show="isRegisterFailed">&ndash;&gt;-->
                        <!--&lt;!&ndash;Username already Exists.&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</form>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</md-dialog-content>&ndash;&gt;-->
        <!--<md-dialog-actions flex layout="row" layout-align="end end" class="username-login-buttons">-->
            <!--<md-button class="md-primary md-raised" ng-click="register()">Register</md-button>-->
            <!--<md-button class="md-primary md-raised" ng-click="login()">login</md-button>-->
        <!--</md-dialog-actions>-->
    <!--</md-card>-->
    <footer>
        <i class="mdi mdi-xml"></i> with <i class="mdi mdi-heart"></i> by Nadav Kaner, Bar Miliavsky, Mor Tal
    </footer>
</div>